{% extends 'base.html.twig' %}

{% block title %}Hello AddProjectController!{% endblock %}

{% block body %}
<div class="container p-5">
    <div class="row">
        <div class="col-md-8">
            <h1 class="h2 mb-3">Ajouter un projet</h1>
            {{ form(form) }}
        </div>
        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <h1 class="h2">Informations utiles</h1>
                <hr>
                <p>Veuillez tenir compte des 10% de commission prélevée par la plateforme au niveau de l'<b>Objectif financier</b>.</p>
                <hr>
                <p>Le projet ne sera publié qu'après la validation par nos experts.</p>
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock %}