{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe - SENIMMO{% endblock %}

{% block body %}
<div class="container p-5">
    <h1 class="h2">Modifier mon mot de passe</h1>
    <a href="{{ path('app_account') }}" class="text-warning">Retourner à mon compte</a>
    <div class="row">
        <div class="col-sm-8">
            <hr>
            {% if notification %}
            <div class="alert alert-info">
                {{ notification }}
            </div>
            <hr>
            {% endif %}
            {{ form(form) }}
            <hr>
        </div>
    </div>
</div>
{% endblock %}